// Typography Styles for Big D
h1, h2, h3, h4, h5, h6, p
  font-weight: normal

// Variables
$tradegothic: 'TradeGothicLTPro-Cn18', Helvetica, serif
$clabol: 'LSTKClaBol', Helvetica, serif


h1
  color: rgba(0, 0, 0, .3)
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
  background: url("../images/middleman.png") no-repeat center 100px
  padding: 350px 0 10px
  margin: 0
h2
h3
h4
h5
h6
  font: 18px/22px $clabol
  margin: 0
p
  font: 15px/20px $tradegothic
