@charset "utf-8"

// Import Partials and Dependencies
@import "variables"
@import "fonts"
@import "type"
@import "nav"

body
  background: $white
  text-align: center
  font-family: serif

#container
  margin: 0px auto
  width: $site-width
  .sake-content
    height: 644px
    margin: 100px 0 0 0
    padding: 56px 0 0 0
    text-align: center
    background: url('/images/sake-background.jpg') no-repeat center top
    .sake-graphic
      display: inline-block
      clear: both
      margin: 0px auto
      width: 416px
      height: 504px
      background: url('/images/sake-of-the-sauce.png') no-repeat center top
      h1
        display: none
  .sauce-content
    background: url('/images/five-star-background.jpg') no-repeat center top
    height: 804px
    width: $site-width
    margin: 0
    .sauce-graphic
      display: inline-block
      background: url('/images/sauce-bottles.png') no-repeat center
      width: $site-width
      height: 558px
      padding: 309px 0 0 0
      .copy-left
        float: left
        text-align: right
        width: 192px
        margin: 0 0 0 200px
        color: $gold
        h6
          color: $brown
      .copy-right
        text-align: left
        float: right
        text-align: left
        width: 192px
        margin: 0 180px 0 0
        color: $gold
        h6
          color: $brown
      .five-star
        clear: both
        width: 271px
        margin: 352px auto 0
  .bbq
    width: $site-width
    height: 800px
    .bbq-graphic
      display: block
      background: url('/images/bbq-background.jpg') no-repeat center
      width: $site-width
      height: 800px
      .we-make-bbq
        padding: 160px 0 0 0
        width: 312px
        height: 172px
        margin: 0 auto
  .respect
    margin: 0
    .respect-graphic
      display: block
      background: url('/images/respect.jpg') no-repeat center
      width: $site-width
      height: 777px
  .stars-border
    display: block
    background: url('/images/stars-border.jpg') no-repeat center
    width: $site-width
    height: 25px
  .menu
    height: 2413px
    background: $black
  .map
    display: block
    background: url('/images/map.jpg') no-repeat center
    width: $site-width
    height: 347px
