<div id="container">

  <div class="nav-container">
    <ul>
      <li><a href="#sauce">The Sauce</a></li>
      <li><a href="#spot">The Spot</a></li>
      <li class="logo" href="#"></li>
      <li><a href="#store">The Store</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <!-- For the Sake of the Sauce -->
  <div id="sauce" class="sake-content">
    <div class="sake-graphic">
      <h1>For the Sake of the Sauce - Big D</h1>
    </div>
  </div>

  <!-- The Spot -->
  <div id="spot" class="sauce-content">
    <div class="sauce-graphic">
      <div class="copy-left">
        <h6>Original</h6>
        <p>Not normal. See, we set the bar high. Then we say "eff you, bar!" and go even higher. That’s where you'll find our Big D Original.</p>
      </div>
      <div class="copy-right">
        <h6>Hot</h6>
        <p>This sauce has just the right amount of heat, kick, and a little more heat because this is BBQ sauce, not salad dressing.</p>
      </div>
      <div class="five-star">
        <img src="../images/five-star-sauce.png" />
      </div>
    </div>
  </div>

  <div class="bbq">
    <div class="bbq-graphic">
      <div class="we-make-bbq">
        <img src="../images/we-make-bbq.png" />
    </div>
  </div>

  <div class="respect">
    <div class="respect-graphic">
    </div>
  </div>
  <div class="stars-border">
  </div>


  <div class="menu">
  </div>

  <div class="map">
  </div>
  <!-- The Store -->

  <!-- Contact -->


</div><!-- #container -->
