<div id="container">

  <div class="nav-container">
    <ul>
      <li><a href="#sauce">The Sauce</a></li>
      <li><a href="#spot">The Spot</a></li>
      <li class="logo" href="#"></li>
      <li><a href="#store">The Store</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <!-- For the Sake of the Sauce -->
  <div id="sauce" class="sake-content">
    <div class="sake-graphic">
      <h1>For the Sake of the Sauce - Big D</h1>
    </div>
  </div>

  <!-- The Spot -->
  <div class="sauce-content">
    <div class="sauce-graphic">
      <div id="spot" class="copy-wrapper">
        <div class="copy-left">
          <h6>Original</h6>
          <p>Not normal. See, we set the bar high. Then we say "eff you, bar!" and go even higher. That’s where you'll find our Big D Original.</p>
        </div>
        <div class="copy-right">
          <h6>Hot</h6>
          <p>This sauce has just the right amount of heat, kick, and a little more heat because this is BBQ sauce, not salad dressing.</p>
        </div>
      </div>
      <div class="five-star">
        <img src="../images/five-star-sauce.png" />
      </div>
    </div>
  </div>

  <div class="bbq">
    <div class="bbq-graphic">
      <div class="we-make-bbq">
        <img src="../images/we-make-bbq.png" width="320px" />
        <div class="bbq-text">
          <p><span>A</span>nd if you're reading this, you're in good company. See, we've been celebrating the union of meat and flame for generations. It's in our blood. It's also in our restaurant and mason jars. Wherin you'll find only the finest ingredients, prepared flawlessly and served liberally. That's a promise.</p>
        </div>
    </div>
  </div>

  <div class="respect">
    <div class="respect-graphic">
    </div>
  </div>
  <div class="stars-border">
  </div>

  <div class="menu">
    <div class="menu-header">
      <h6>Join us at</h6>
      <h3 class="bigd-header">Big D Barbecue</h3>
      <h6><img src="images/seperators.png" class="seperator left" />Mansfield, Texas<img src="images/seperators.png" class="seperator right" /></h6>
      <p>For the most delicious BBQ you ever tasted.</p>
      <p><img src="images/star.png" /> We've got a bib waitin for ya. <img src="images/star.png" /></p>
    </div>
    <div class="menu-table">
      <h1>Menu</h1>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
      <table>
        <tr>
          <td width="325px"><h5>Ribs</h5></td>
          <td width="125px"><p>&frac14; lb</p>$5<span>55</span></td>
          <td width="125px"><p>&frac12; lb</p>$9<span>24</span></td>
          <td width="125px"><p>1 slab</p>$18<span>48</span></td>
        </tr>
        <tr>
          <td><h5>Country Style Ribs</h5></td>
          <td><p>&frac14; lb</p>$4<span>62</span></td>
          <td><p>&frac12; lb</p>$7<span>39</span></td>
          <td><p>1 slab</p>$14<span>78</span></td>
        </tr>
        <tr>
          <td><h5>Pulled Pork</h5></td>
          <td><p>&frac14; lb</p>$4<span>62</span></td>
          <td><p>&frac12; lb</p>$7<span>39</span></td>
          <td><p>1 lb</p>$14<span>78</span></td>
        </tr>
        <tr>
          <td><h5>Brisket</h5></td>
          <td><p>&frac14; lb</p>$4<span>62</span></td>
          <td><p>&frac12; lb</p>$7<span>39</span></td>
          <td><p>1 lb</p>$14<span>78</span></td>
        </tr>
        <tr>
          <td><h5>Sausage</h5></td>
          <td><p>&frac14; lb</p>$4<span>62</span></td>
          <td><p>&frac12; lb</p>$7<span>39</span></td>
          <td><p>1 lb</p>$14<span>78</span></td>
        </tr>
        <tr>
          <td><h5>Chicken</h5></td>
          <td><span></span></td>
          <td><span></span></td>
          <td><p>&frac12; lb</p>$7<span>99</span></td>
        </tr>
      </table>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
      <table>
        <tr>
          <td><h5>The Big D Full Tray</h5></td>
          <td><p class="fr">1 lb of 3 meats, 1 slab of Ribs & 4 sides</p></td>
          <td>$84<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Rib Plate</h5></td>
          <td><p class="fr">Ribs & 2 sides</p></td>
          <td>$8<span>99</span></td>
        </tr>
      </table>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
       <table>
        <tr>
          <td><h5>Sandwich Plate</h5></td>
          <td><p class="fr">choice of meat & 2 sides</p></td>
          <td>$8<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Sandwich w/chips</h5></td>
          <td><p class="fr">choice of meat & 1 bag of chips</p></td>
          <td>$6<span>99</span></td>
        </tr>
          <tr>
          <td><h5>Sandwich</h5></td>
          <td><p class="fr">choice of meat</p></td>
          <td>$5<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Kids Grilled Cheese</h5></td>
          <td><p class="fr">1 bag of chips</p></td>
          <td>$2<span>78</span></td>
        </tr>
      </table>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
      <h2>Sides</h2>
        <table>
        <tr>
          <td><h5>Potato Salad</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Cole Slaw</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
          <tr>
          <td><h5>Beans</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Skillet Taters</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Mac n Cheese</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
          <tr>
          <td><h5>Beverage</h5></td>
          <td><p class="fr">1 size fits all</p></td>
          <td>$1<span>99</span></td>
        </tr>
      </table>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
        <h2>Dessert</h2>
        <table>
        <tr>
          <td><h5>Banana Pudding</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$1<span>99</span></td>
        </tr>
        <tr>
          <td><h5>Bundt Cake</h5></td>
          <td><p class="fr">1 cup</p></td>
          <td>$3<span>70</span></td>
        </tr>
      </table>
      <img src="images/menu-spacer.jpg" class="menu-spacer" />
    <div class="address">
      <h5>226 N. Walnut Creek</h5>
      <h5>Mansfield, TX 76063</h5>
      <h5 class="white">Tuesday thru Sunday</h5>
      <h5>11:00 am to 8:00 PM</h5>
    </div>
    <img src="images/menu-spacer.jpg" class="menu-spacer" />
        <div class="address">
      <h5 class="phone">Call <span>469-251-BIGD (2443)</span> for to-go orders</h5>
    </div>
    </div>
  </div>

  <!-- The Map -->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x864e61aa1bb420a1%3A0xa2e71701391c2ce6!2s226+N+Walnut+Creek+Dr%2C+Mansfield%2C+TX+76063!5e0!3m2!1sen!2sus!4v1387867843688" width="100%" height="347" frameborder="0" style="border:0"></iframe>
  </div>

  <!-- The Store -->
  <div class="store">
    <div class="store-text">
      <h1>BBQ swag?</h1>
      <h2>Now thats tasty.</h2>
      <h4>Store coming soon.</h4>
    </div>
  </div>

  <!-- Contact -->
  <div class="contact">
    <h2>Don't be a stranger</h2>
    <ul>
      <li class="yelp"><a href="http://www.yelp.com/biz/big-d-barbecue-mansfield" target="_blank"></a></li>
      <li class="facebook"><a href="https://www.facebook.com/bigdbarbecue" target="_blank"></a></li>
      <li class="twitter"><a href="https://twitter.com/bigdbarbecue" target="_blank"></a></li>
      <li class="foursquare"><a href="https://foursquare.com/v/big-d-barbecue/51de3e48501924364d94e284" target="_blank"></a></li>
      <li class="instagram"><a href="http://instagram.com/bigdbarbecue" target="_blank"></a></li>
    </ul>
    <p>Want us to cater your next event? Wanna get all the latest BBQ-related news? Maybe you just wanna say howdy?</p>
    <p>Please do, we’d love to hear from ya.</p>
  </div>

  <!-- Shots -->
  <div class="shots">
    <div class="shots-header">
      <img src="images/shots-from-the-grill.jpg" />
    </div>
  </div>

  <!-- Legal -->
  <div class="legal">
    <p>&copy; Big D Barbeque</p>
  </div>

</div><!-- #container -->
